

//home page font-siez color : 



$font-family: 'Playfair Display', serif;


$font-large : 3rem ;
$font-mediem:1.6rem;
$font-regular:1rem ;


$card-color: rgb(171, 221, 34);
$pramery-color: #fff;
$secondary-color:#2bde;
$hover-bck-color:#2bda;
$hover-txt-color:rgba(0, 0, 0, 0.418);

