body {
  margin: 0;
  padding: 0; }

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .main .day_plat {
    position: absolute;
    top: 35%; }
    .main .day_plat button {
      padding: 1rem 2rem;
      border: none;
      opacity: .2;
      background: #abdd22;
      box-shadow: 2px 2px 12px black;
      border-radius: .3rem;
      cursor: pointer; }
    .main .day_plat button:hover {
      opacity: 1;
      transition: ease-in-out .3s;
      transform: scale(1.2); }
  .main .main_heading {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    height: 45vh;
    width: 90%; }
    .main .main_heading .main_heading_title {
      width: 40%;
      padding-top: 2rem;
      background-color: rgba(0, 0, 0, 0.253);
      text-align: start; }
      .main .main_heading .main_heading_title h1 {
        font-size: 3rem;
        color: #fff;
        font-family: "Playfair Display", serif; }
  .main .main_heading_card {
    width: 20%;
    display: flex;
    height: 100%;
    box-shadow: 2px 2px 12px black;
    align-items: center;
    background-color: #abdd22;
    justify-content: center; }
    .main .main_heading_card ul {
      list-style: none;
      line-height: 1.5;
      padding: 0;
      margin: 0%;
      text-align: center; }
      .main .main_heading_card ul li {
        color: #fff;
        font-size: 1.6rem;
        list-style: none; }
  .main .main_checklist_nav {
    width: 90%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end; }
    .main .main_checklist_nav form a .login_btn {
      box-shadow: 2px 2px 12px black;
      border: none;
      color: black;
      background-color: #abdd22;
      padding: 1rem 1.2rem;
      border-radius: .2rem;
      transition: ease-in-out .3s; }
    .main .main_checklist_nav .login_btn:hover {
      border: none;
      color: white;
      background-color: #abdd22;
      padding: 1.2rem 1.3rem;
      transition: ease-in-out .3s; }

.main_checklist {
  width: 90%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .main_checklist .main_checklist_buttons {
    box-shadow: 2px 2px 12px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .main_checklist .main_checklist_buttons .box {
      align-items: center;
      justify-content: center;
      text-align: center;
      color: rgba(0, 0, 0, 0.418); }
    .main_checklist .main_checklist_buttons .box a {
      list-style: none;
      color: white;
      font-size: 1rem; }
      .main_checklist .main_checklist_buttons .box a .box_btn {
        border: none;
        background-color: #abdd22;
        padding: 1.6rem 1.9rem;
        border-radius: .2rem;
        transition: ease-in-out .3s;
        box-shadow: 2px 2px 12px black; }
      .main_checklist .main_checklist_buttons .box a .box_btn:hover {
        border: none;
        color: white;
        background-color: #abdd22;
        transform: scale(1.2);
        transition: ease-in-out .3s; }

.menu_container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center; }
  .menu_container .menu_content {
    background-image: linear-gradient(45deg, #c0e35e91, transparent);
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 2px 12px black;
    min-height: 90%;
    padding: 1rem; }
    .menu_container .menu_content nav {
      width: 100%;
      display: flex;
      background: #caea73;
      justify-content: flex-end;
      box-shadow: 0px 0px 4px black; }
      .menu_container .menu_content nav .nav {
        display: inline-flex;
        width: 50%; }
        .menu_container .menu_content nav .nav ul {
          margin: 0;
          list-style: none;
          display: flex;
          padding: 1rem;
          width: 80%;
          justify-content: space-evenly; }
          .menu_container .menu_content nav .nav ul li a {
            text-decoration: none;
            color: black;
            font-size: large;
            text-shadow: 2px 2px 10px white; }
          .menu_container .menu_content nav .nav ul a:hover {
            color: #622ae4; }
    .menu_container .menu_content .menu_holder_btn {
      display: flex;
      margin: 3rem auto;
      background: #ffffff94;
      padding: 2rem;
      box-shadow: 0px 0px 3px black; }
      .menu_container .menu_content .menu_holder_btn .menu_el a {
        color: black;
        font-size: 1.4rem;
        padding: .3rem;
        text-decoration: none;
        margin-right: 2rem; }
      .menu_container .menu_content .menu_holder_btn .menu_el a:hover {
        color: #622ae4; }
  .menu_container .day_menu {
    width: 95%;
    min-height: 40%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .9rem;
    justify-content: space-around; }
    .menu_container .day_menu .menu_card {
      width: 20rem;
      height: 15rem;
      position: relative;
      box-shadow: 2px 2px 12px black;
      background: #abdd22a1;
      display: flex;
      margin-top: 1.5rem;
      align-items: center;
      border-radius: 0.8rem;
      justify-content: space-around;
      flex-direction: column; }
      .menu_container .day_menu .menu_card .addToShop {
        display: none;
        position: absolute;
        top: 2%;
        color: white;
        right: 2%;
        background: rgba(0, 0, 0, 0.479);
        padding: .7rem;
        border-radius: 2rem; }
      .menu_container .day_menu .menu_card img {
        width: 180px;
        height: 130px;
        padding: .4rem;
        box-shadow: 2px 2px 12px black; }
      .menu_container .day_menu .menu_card .wrapper {
        display: flex;
        width: 17rem;
        text-align: center;
        align-items: center;
        color: white;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: 'Playfair Display'; }
        .menu_container .day_menu .menu_card .wrapper h2 {
          color: white;
          font-size: 1.3rem;
          margin: 0; }
        .menu_container .day_menu .menu_card .wrapper p {
          font-weight: bolder;
          font-size: 1.5rem;
          margin: 0;
          font-family: 'Playfair Display'; }
    .menu_container .day_menu .menu_card:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 22px black;
      transition: ease-in-out .3s; }
      .menu_container .day_menu .menu_card:hover .addToShop {
        display: inline-block;
        transition: ease-in-out 1s; }

.login_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center; }
  .login_box .nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: flex-end; }
    .login_box .nav li a {
      text-decoration: none;
      color: black;
      font-size: 21px;
      cursor: pointer;
      margin-right: 2rem; }
    .login_box .nav a:hover {
      color: #622ae4; }
  .login_box .wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .login_box .wrapper .intro {
      width: 50%;
      display: flex;
      background: #eeeeee;
      flex-direction: column;
      height: 85vh;
      box-shadow: -4px 0px 12px black; }
    .login_box .wrapper .intro_image {
      background-image: url(../Apublic/images/glass.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50%; }
    .login_box .wrapper .intro_text {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0rem 5rem; }
  .login_box .form_login {
    width: 50%;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center; }
    .login_box .form_login form {
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .login_box .form_login form .input_btn {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .login_box .form_login form .input_btn input {
          width: 55%;
          padding: 1rem;
          border: 2px solid purple; }
  .login_box .login_btn2 button {
    padding: 1rem 4rem;
    background: center;
    border: 2px solid purple;
    cursor: pointer; }
  .login_box button:hover {
    color: #622ae4; }

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: auto;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  table * {
    position: relative; }
  table td, table th {
    padding-left: 8px; }
  table thead tr {
    height: 60px;
    background: #f3aa3d;
    font-size: 16px; }
  table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5; }
    table tbody tr:last-child {
      border: 0; }
  table td, table th {
    text-align: left; }
    table td.l, table th.l {
      text-align: right; }
    table td.c, table th.c {
      text-align: center; }
    table td.r, table th.r {
      text-align: center; }

.slid {
  background: #b3e629;
  width: 20rem;
  height: 28rem;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 35%;
  box-shadow: 2px 2px 12px black;
  transform: translateY(-100%);
  transition: 1.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .slid a {
    top: 3%;
    position: relative;
    color: white;
    background: rgba(0, 0, 0, 0.479);
    padding: .7rem;
    border-radius: 2rem;
    right: 40%; }
  .slid h1 {
    margin: 0;
    padding: 1.5rem;
    color: white;
    text-shadow: 0px 0px 12px black; }
  .slid img {
    width: 250px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px black; }
  .slid h2 {
    margin: 0;
    padding: .4rem;
    color: white;
    text-shadow: 0px 0px 12px black; }
  .slid p {
    margin: 0;
    color: white;
    font-size: 2rem;
    font-family: 'Playfair Display'; }

.show {
  top: 27rem !important; }

.showModel {
  position: fixed;
  background: #000000ab;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }

.m_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .m_container header {
    width: 90%;
    display: flex;
    padding: 1rem;
    background-color: #e68926;
    justify-content: flex-end; }
    .m_container header nav {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .m_container header nav .nav {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        .m_container header nav .nav ul {
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          .m_container header nav .nav ul li a {
            text-decoration: none;
            color: white;
            font-family: 'Playfair Display';
            font-weight: 700;
            text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.562);
            letter-spacing: 2px; }
          .m_container header nav .nav ul a:hover {
            color: rgba(137, 43, 226, 0.877); }
  .m_container .addMenu_ {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding: 2rem; }
    .m_container .addMenu_ a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      font-weight: 700; }
    .m_container .addMenu_ a:hover {
      color: blueviolet; }
  .m_container .container_dbrd {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: start; }
    .m_container .container_dbrd .form_list {
      width: 25%;
      height: 75vh;
      background: antiquewhite;
      display: flex;
      align-items: center;
      justify-content: center; }
      .m_container .container_dbrd .form_list ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-around; }
        .m_container .container_dbrd .form_list ul li a {
          text-decoration: none;
          color: black;
          font-weight: 900;
          letter-spacing: 1.4px;
          font-family: 'Playfair Display'; }
        .m_container .container_dbrd .form_list ul a:hover {
          color: blueviolet; }
  .m_container .menu_modifier {
    width: 65%;
    overflow: auto;
    height: 75vh; }

.edit_page {
  width: 80%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .edit_page .edit_form {
    padding: 2rem;
    height: 100%;
    display: flex;
    box-shadow: 2px 2px 22px black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #bd8eab; }
    .edit_page .edit_form .box {
      width: 20rem;
      display: flex;
      justify-content: space-between; }
      .edit_page .edit_form .box label {
        color: white;
        font-weight: bolder;
        border: none; }
      .edit_page .edit_form .box input {
        padding: .4rem;
        border: none;
        border-radius: .3rem;
        border: none; }
    .edit_page .edit_form .image_holder {
      width: 40%;
      height: 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .edit_page .edit_form .image_holder label {
        color: white;
        opacity: .6;
        font-weight: 100;
        border: none; }
      .edit_page .edit_form .image_holder input[type="file"] {
        box-shadow: 2px 2px 6px black;
        padding: .4rem .6rem;
        border: 1px solid #0f37e9; }
  .edit_page .select select {
    padding: .4rem .6rem;
    color: black;
    background: antiquewhite;
    font-weight: bold; }
  .edit_page .save_btn button {
    padding: .5rem 1.5rem;
    background: white;
    border: none;
    box-shadow: 2px 2px 12px black; }

.model1 {
  position: fixed;
  background: #00000085;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }
